[Unit]
Description=PDV Intelbras iMHDX POS bridge
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/pdv-intelbras-bridge/pdv_intelbras_bridge.py --station 2 --src-port 52102 --dest-ip 192.168.24.227 --dest-port 38801
Restart=always
RestartSec=2
WorkingDirectory=/home/rpdv/frente
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
